.main{
    overflow: hidden;
}
.home{
    position: relative;
}
.home__container{
    gap: 42px;
    justify-self: center;
}

.home__img{
    width: 300px;
    justify-self: center;
    animation-name: float;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.home__data{
    text-align: center;
}

.home__title{
    font-size: var(--font-2xl);
    margin-bottom: 1rem;
}
.home__description{
    padding: 0 1rem;
    margin-bottom: 2.5rem;
}

.button{
    display: inline-flex;
    gap: 7px;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    color: white;
    font-weight: var(--font-medium);
    border-radius: 50px;
}
.button:hover {
    background-color: var(--primary-color-alt);
    transition: .4s;
}

.button:hover > i{
    transform: translateX(3px);
    transition: .2s ease-in-out;

}
@media (min-width: 1024px) {
    .home__container {
      display: grid;
      grid-template-columns: 500px 480px;
      grid-template-areas: "home__image home__data";
    }
    .home__img {
      width: 400px;
      align-self: center;
    }
    .home__title{
        font-size: 45px;
    }
  }
  
  
@keyframes float{
    0%{
        transform:translateY(-30px)
    }
    50%{
        transform:translateY(30px)
    }
    100%{
        transform:translateY(-30px)
    }
}